.example-card {
  max-width: 800px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.logo {
  margin-top: 2em;
  margin-bottom: 2em;
}

.spacer {
  flex: 1 1 auto;
}
