<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <img class="logo" src="assets/img/logo.jpg">
</div>

<mat-toolbar color="">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-raised-button aria-hidden="false" aria-label="icon">
      Carrito de compras
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <h1>PRODUCTOS</h1>
  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxLayout="33" *ngFor="let product of products">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>S/ {{product.price}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/postre.jpg" alt="">
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Añadir al carrito <mat-icon>add_shopping_cart</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>